@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
aside{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    border-right: 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s ease;
    padding: 0 10px;
    
}
.close-aside{
    width: 70px;
    padding-left: 15px;
    overflow: hidden;
}
.top-side{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}
.toggle{
    z-index: 1000 !important;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all .2s ease-in-out;
}
/* .toggle-sub{
    left: 1.5%;
} */
.toggle-two{
    display: none;
}
.toggle div{
    background-color: black;
    height: 2px;
    width: 25px;
    transition: all .4s ease-in-out;
    z-index: 1000 !important;

}
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    text-transform: capitalize;
    /* height: 10vh; */
    padding: 3px 0;

}
.active{
    border-left: 2px solid #0235EA;
    background-color: #F6F8FE;
    padding: 10px;
    border-radius: 10px;
}
.active a{
    color: #0235EA !important;
}
.middle-side{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    text-transform: capitalize;

}
.tags a{
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.item{
    display: block;
}
.close-item{
    display: none;
    overflow: hidden;
}
.bottom-side{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.nav{
    display: none;
}




/* side nav ends */

main{
    width: 85%;
    padding: 0 30px;
}
.toggle-main{
    width: 95%;
}
.dashboard-main-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}
.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.input-bar{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}


@media screen and (max-width: 950px) {
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    .toggle-main{
        width: 100%;
    } 
    .dashboard-main-top{
        width: 100% !important;
        
    }
    .toggle-two{
        position: fixed;
        left: 1.5%;
        top: 2%;
        z-index: 1000 !important;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all .7s linear;
    }
    .toggle-sub{
        left: 190px;
    }
    .toggle-two div{
        background-color: black;
        height: 2px;
        width: 25px;
        transition: all .4s ease-in-out;
        z-index: 1000 !important;
    
    }
    .nav{
        display: flex;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all .3s ease;
        padding: 0 10px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        transition: all 1s ease;
        transform: translate(-250px);
    }
    .nav-sub{
        transform: translate(0px);

    } 
}